<title> Add Word </title>

<div class='main'>
    {% block content %}
      <h2 style='background-color:#595ce7; color:#E3E7EB'>Add word</h2>
      <form action="." method="POST" enctype="multipart/form-data" align='center'>
        {% csrf_token %}
        <table align='center'>
          {{form.as_table}}
        </table>
        <br/>
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Submit" href="{% url 'eligible'}" >
      </form>
    {% endblock %}
    <br/><br/>
    </div>
    
    <style>
      .main{
        text-align:center;
        font-family:Georgia;
        margin:auto;
      }
    </style>
    